<h1>New sub_administrative_area</h1>

<% form_for(@sub_administrative_area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :administrative_area_id %><br />
    <%= f.text_field :administrative_area_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sub_administrative_areas_path %>