<h1>Сводная информация о вашей группе</h1>
<% if @group != nil %>
<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @group.address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @group.phone %>
</p>

<p>
  <b>User:</b>
  <%=h @group.user_id %>
</p>

<td><%= link_to 'Edit', edit_group_path(@group) %></td>
<td><%= link_to 'Destroy', @group, :confirm => 'Are you sure?', :method => :delete %></td>
<% else %>
Группа ещё не создана. <%=link_to "Создать",:controller => :group, :action => :new %>
<% end %>
<h1>Пользователи:</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hashed password</th>
    <th>Salt</th>
    <th>Type</th>
    <th>Group</th>
  </tr>
<% @simple_users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.hashed_password %></td>
    <td><%=h user.salt %></td>
    <td><%=h user.type %></td>
    <td><%=h user.group_id %></td>
    <td><%= link_to "Show", :action => "show_user", :id => user.id %></td>
    <td><%= link_to "Edit", :action => "edit_user", :id => user.id %></td>
    <td><%= link_to "Destroy", :action => "destroy_user",:id => user.id, :confirm => 'Are yaou sure?', :method => :delete %></td>
    <td><%= link_to "Объявления размещенные пользователем", :action => "index" %> </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', :action => "new_user" %>

