<h1>Editing entry</h1>

<% form_for(@entry, :url => {:action => :update}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :rooms_count %><br />
    <%= f.text_field :rooms_count %>
  </p>
  <p>
    <%= f.label :rent_price %><br />
    <%= f.text_field :rent_price %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :city_id %><br />
    <%= f.text_field :city_id %>
  </p>

  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :house_number %><br />
    <%= f.text_field :house_number %>
  </p>
  <p>
    <%= f.label :flat_number %><br />
    <%= f.text_field :flat_number %>
  </p>
  <p>
    <%= f.label :floor_number %><br />
    <%= f.text_field :floor_number %>
  </p>
  <p>
    <%= f.label :disctrict %><br />
    <%= f.text_field :disctrict %>
  </p>
  <p>
    <%= f.label :area_total %><br />
    <%= f.text_field :area_total %>
  </p>
  <p>
    <%= f.label :area_kitchen %><br />
    <%= f.text_field :area_kitchen %>
  </p>
  <p>
    <%= f.label :rent_time %><br />
    <%= f.text_field :rent_time %>
  </p>
  <p>
    <%= f.label :contacts %><br />
    <%= f.text_area :contacts %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :realty_type %><br />
    <%= f.text_field :realty_type %>
  </p>
  <p>
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </p>
  <p>
    <%= f.label :highway_id %><br />
    <%= f.text_field :highway_id %>
  </p>
  <p>
    <%= f.label :plot_area %><br />
    <%= f.text_field :plot_area %>
  </p>
  <p>
    <%= f.label :commission_client %><br />
    <%= f.text_field :commission_client %>
  </p>
  <p>
    <%= f.label :commission_agent %><br />
    <%= f.text_field :commission_agent %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :refridgerator %><br />
    <%= f.text_field :refridgerator %>
  </p>
  <p>
    <%= f.label :tv %><br />
    <%= f.text_field :tv %>
  </p>
  <p>
    <%= f.label :washing_machine %><br />
    <%= f.text_field :washing_machine %>
  </p>
  <p>
    <%= f.label :furniture %><br />
    <%= f.text_field :furniture %>
  </p>
  <p>
    <%= f.label :mo_district_id %><br />
    <%= f.text_field :mo_district_id %>
  </p>
  <p>
    <%= f.label :rent_time_type %><br />
    <%= f.text_field :rent_time_type %>
  </p>
  <p>
    <%= f.label :distance_to_mkad %><br />
    <%= f.text_field :distance_to_mkad %>
  </p>
  <p>
    <%= f.label :area_house %><br />
    <%= f.text_field :area_house %>
  </p>
  <p>
    <%= f.label :area_plot %><br />
    <%= f.text_field :area_plot %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
