<h1>Listing entries</h1>

<table>
  <tr>
<td>id</td>
<td>type</td>
<td>rooms_count</td>
<td>rent_price</td>
<td>city</td>
<td>city_id</td>
<td>street</td>
<td>house_number</td>
<td>flat_number</td>
<td>floor_number</td>
<td>disctrict</td>
<td>area_total</td>
<td>area_kitchen</td>
<td>rent_time</td>
<td>contacts</td>
<td>comment</td>
<td>user_id</td>
<td>created_at</td>
<td>updated_at</td>
<td>realty_type</td>
<td>currency</td>
<td>highway_id</td>
<td>plot_area</td>
<td>commission_client</td>
<td>commission_agent</td>
<td>phone</td>
<td>refridgerator</td>
<td>tv</td>
<td>washing_machine</td>
<td>furniture</td>
<td>mo_district_id</td>
<td>rent_time_type</td>
<td>distance_to_mkad</td>
<td>area_house</td>
<td>area_plot</td>
 </tr>

<% @entries.each do |entry| %>
  <tr>
<th><%= entry.id %></th>
<th><%= entry.type %></th>
<th><%= entry.rooms_count %></th>
<th><%= entry.rent_price %></th>
<th><%= entry.city %></th>
<th><%= entry.city_id %></th>
<th><%= entry.street %></th>
<th><%= entry.house_number %></th>
<th><%= entry.flat_number %></th>
<th><%= entry.floor_number %></th>
<th><%= entry.disctrict %></th>
<th><%= entry.area_total %></th>
<th><%= entry.area_kitchen %></th>
<th><%= entry.rent_time %></th>
<th><%= entry.contacts %></th>
<th><%= entry.comment %></th>
<th><%= entry.user_id %></th>
<th><%= entry.created_at %></th>
<th><%= entry.updated_at %></th>
<th><%= entry.realty_type %></th>
<th><%= entry.currency %></th>
<th><%= entry.highway_id %></th>
<th><%= entry.plot_area %></th>
<th><%= entry.commission_client %></th>
<th><%= entry.commission_agent %></th>
<th><%= entry.phone %></th>
<th><%= entry.refridgerator %></th>
<th><%= entry.tv %></th>
<th><%= entry.washing_machine %></th>
<th><%= entry.furniture %></th>
<th><%= entry.mo_district_id %></th>
<th><%= entry.rent_time_type %></th>
<th><%= entry.distance_to_mkad %></th>
<th><%= entry.area_house %></th>
<th><%= entry.area_plot %></th>
    <td><%= link_to 'Show', entry_path(entry) %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry_path(entry), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New entry', new_entry_path %>
