<p>
  <b>Type:</b>
  <%=h @entry.type %>
</p>

<p>
  <b>Rooms count:</b>
  <%=h @entry.rooms_count %>
</p>

<p>
  <b>Rent price:</b>
  <%=h @entry.rent_price %>
</p>

<p>
  <b>City:</b>
  <%=h @entry.city %>
</p>
<p>
  <b>City_id:</b>
  <%=h @entry.city_id %>
</p>

<p>
  <b>Street:</b>
  <%=h @entry.street %>
</p>

<p>
  <b>House number:</b>
  <%=h @entry.house_number %>
</p>

<p>
  <b>Flat number:</b>
  <%=h @entry.flat_number %>
</p>

<p>
  <b>Floor number:</b>
  <%=h @entry.floor_number %>
</p>

<p>
  <b>Disctrict:</b>
  <%=h @entry.disctrict %>
</p>

<p>
  <b>Area total:</b>
  <%=h @entry.area_total %>
</p>

<p>
  <b>Area kitchen:</b>
  <%=h @entry.area_kitchen %>
</p>

<p>
  <b>Rent time:</b>
  <%=h @entry.rent_time %>
</p>

<p>
  <b>Contacts:</b>
  <%=h @entry.contacts %>
</p>

<p>
  <b>Comment:</b>
  <%=h @entry.comment %>
</p>

<p>
  <b>User:</b>
  <%=h @entry.user_id %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
