<tr>
	<div id="rent_entry_result_entry">
    <td><%=h rent_entry.rooms_count %></td>
    <td><%=h rent_entry.rent_price %></td>
    <td><%=h rent_entry.city %></td>
    <td><%=h rent_entry.street %></td>
    <td><%=h rent_entry.house_number %></td>
    <td><%=h rent_entry.flat_number %></td>
    <td><%=h rent_entry.floor_number %></td>
    <td><%=h rent_entry.disctrict %></td>
    <td><%=h rent_entry.area_total %></td>
    <td><%=h rent_entry.area_kitchen %></td>
    <td><%=h rent_entry.rent_time %></td>
    <td><%=h rent_entry.contacts %></td>
    <td><%=h rent_entry.comment %></td>
    <td><%= link_to 'Подробнее', entry_path(rent_entry) %></td>
	</div>
</tr>
