<tr>
  <td>
			<div id= "suburban_rent_entry_distance_to_mkad" class="rent_entry_table_field">
				<%=h suburban_rent_entry.distance_to_mkad %>
			</div>
		</td>
		<td>
			<div id= "suburban_rent_entry_highway" class="rent_entry_table_field">
				<%=h suburban_rent_entry.highway %>
			</div>
		</td>
		<td>
			<div id= "suburban_rent_entry_type" class="rent_entry_table_field">
				<%=h suburban_rent_entry.rent_price %>
			</div>
		</td>
		<td>
			<div id= "suburban_rent_entry_area_total" class="rent_entry_table_field">
				<%=h suburban_rent_entry.area_total %>
			</div>
		</td>
		<td>
			<div id= "suburban_rent_entry_area_house" class="rent_entry_table_field">
				<%=h suburban_rent_entry.area_house %>
			</div>
		</td>
		<td>
			<div id= "suburban_rent_entry_price" class="rent_entry_table_field">
				<%=h suburban_rent_entry.price %>
			</div>
		</td>
		<td>
			<div id= "suburban_rent_entry_commission" class="rent_entry_table_field">
				<%=h suburban_rent_entry.commission %>
			</div>
		</td>
		<td>
			<div id= "suburban_rent_entry_contacts" class="rent_entry_table_field">
				<%=h suburban_rent_entry.contacts %>
			</div>
		</td>
		<td>
			<div id= "suburban_rent_entry_comment" class="rent_entry_table_field">
				<%=h suburban_rent_entry.comment %>
			</div>
		</td>
</tr>

