<% form_for(@search_condition, :url => {:action => "result_flat"}) do |f| %>
<div id="search">
  <div id="search_conditions" class="column">
    <h1>Поиск по комнатам и квартирам в Москве</h1>
    <p>
      <label for="City">Город:</label>
      <%= f.text_field :city, :size => 40 %>
    </p>
    <p>
      <label for="District">Район:</label>
      <%= f.text_field :district, :size => 40 %>
    </p>
    <p>
      <label for="Street">Улица:</label>
      <%= f.text_field :street, :size => 40 %>
    </p>
    <p>
      <label for="Rooms count">Количество комнат:</label>
      <%= f.text_field :rooms_count, :size => 40 %>
    </p>
    <p>
      <label for="price">Цена</label>
      <label for="Min_Price">от:</label>
      <%= f.text_field :min_price, :size => 10 %>
      <label for="Max_Price">до:</label>
      <%= f.text_field :max_price, :size => 10 %> руб.
    </p>
    <p>
      <label for="total_area">Общая площадь от:</label>
      <%= f.text_field :total_area, :size => 40 %>
    </p>
    <p>
      <label for="Kitchen_Area">Кухня площадь от:</label>
      <%= f.text_field :kitchen_area, :size => 40 %>
    </p>
    <p>
      <label for="Live_Area">Жилая площадь от:</label>
      <%= f.text_field :live_area, :size => 40 %>
    </p>
    <p>
      <label for="Rent_Time">Срок аренды:</label>
      <%= f.text_field :rent_time, :size => 40 %>
    </p>
    <p>
      <label for="Time_To_Nearest_Subway_Station">Время до ближайшей станции метро:</label>
      <%= f.text_field :time_to_nearest_subway_station, :size => 10 %> мин.
    </p>
    <p>
      <label for="has_photo">Только с фотографиями</label>
      <%= f.check_box :has_photo, :size => 40 %>
    </p>
    <p>
      <%= f.submit "Найти!" , :class => "submit" %>
    </p>
  </div>
  <div id="map" class="column">
    <div id="cool_map_selector">
      <img usemap="#map" src="/images/metromap_2009b.gif" >
    </div>
    <div id="options_map_selection">
      <select name=metro_s size=10 ondblclick="add_m();">
				<% Metro.get_stations.each_pair do |key, value| %>
				<%= "<option value=\"#{key}\">#{value}</option>" %>
				<% end %>
      </select>
			<input id="add_button" type=button name=add value="->" onclick="add_m();">
      <input id="remove_button" type=button name=del value="<-" onclick="del_m();">
      <select id="search_condition_nearest_subway_stations" name="search_condition[nearest_subway_stations][]" size=10 multiple style="width:150px;" ondblclick="del_m();">
      </select>
      <input id="clear_button" type="button" value="  Очистить ст.метро!  " onclick="freset();">
    </div>
  </div>
</div>
<% end %>
<div class="clear"></div>

