<% form_for(@search_condition, :url => {:action => "result_flat_mo"}) do |f| %>
<div id="search">
  <div id="search_conditions" class="column">
    <h1>Поиск по комнатам и квартирам в Московской Областе</h1>
    <p>
      <label for="City">Город:</label>
      <%= f.text_field :city, :size => 40 %>
    </p>
    <p>
      <label for="Rooms count">Количество комнат:</label>
      <%= f.text_field :rooms_count, :size => 3 %>
    </p>
    <p>
      <label for="price">Цена</label>
      <label for="Min_Price">от:</label>
      <%= f.text_field :min_price, :size => 10 %>
      <label for="Max_Price">до:</label>
      <%= f.text_field :max_price, :size => 10 %> руб.
    </p>
    <p>
      <label for="Street">Улица:</label>
      <%= f.text_field :street, :size => 40 %>
    </p>
    <p>
      <label for="furniture">Мемель:</label>
			<%=  f.radio_button( "furniture","yes") %>
      <label for="furniture">есть,</label>
			<%=  f.radio_button( "furniture", "no_matter",:checked => true) %>
      <label for="furniture">неважно,</label>
			<%=  f.radio_button( "furniture", "no") %>
      <label for="furniture">нет</label>
    </p>

    <p>
      <label for="tv">Телевизор:</label>
			<%=  f.radio_button( "tv","yes") %>
      <label for="tv">есть,</label>
			<%=  f.radio_button( "tv", "no_matter",:checked => true) %>
      <label for="tv">неважно,</label>
			<%=  f.radio_button( "tv", "no") %>
      <label for="tv">нет</label>
    </p>
    <p>
      <label for="refridgerator">Холодильник:</label>
			<%=  f.radio_button( "refridgerator","yes") %>
      <label for="refridgerator">есть,</label>
			<%=  f.radio_button( "refridgerator", "no_matter",:checked => true) %>
      <label for="refridgerator">неважно,</label>
			<%=  f.radio_button( "refridgerator", "no") %>
      <label for="refridgerator">нет</label>
    </p>
    <p>
      <label for="washing_machine">Стиральная машина:</label>
			<%=  f.radio_button( "washing_machine","yes") %>
      <label for="washing_machine">есть,</label>
			<%=  f.radio_button( "washing_machine", "no_matter",:checked => true) %>
      <label for="washing_machine">неважно,</label>
			<%=  f.radio_button( "washing_machine", "no") %>
      <label for="washing_machine">нет</label>
    </p>
    <p>
      <label for="phone">Телефон:</label>
			<%=  f.radio_button( "phone","yes") %>
      <label for="phone">есть,</label>
			<%=  f.radio_button( "phone", "no_matter",:checked => true) %>
      <label for="phone">неважно,</label>
			<%=  f.radio_button( "phone", "no") %>
      <label for="phone">нет</label>
    </p>
    <p>
      <label for="has_photo">Только с фотографиями</label>
      <%= f.check_box :has_photo, :size => 40 %>
    </p>
    <p>
      <label for="total_area">Общая площадь от:</label>
      <%= f.text_field :total_area, :size => 3 %>м2
    </p>
    <p>
      <label for="Kitchen_Area">Кухня площадь от:</label>
      <%= f.text_field :kitchen_area, :size => 3 %>м2
    </p>
    <p>
      <label for="Live_Area">Жилая площадь от:</label>
      <%= f.text_field :live_area, :size => 3 %>м2
    </p>
    <p>
      <label for="Time_To_Nearest_Subway_Station">Время до ближайшей станции метро:</label>
      <%= f.text_field :time_to_nearest_subway_station, :size => 10 %> мин.
    </p>
    <p>
      <label for="Rent_Time">Срок аренды:</label>
			<%=	f.select( :rent_time_type, RentTimeTypes.get_rent_time_types ) %>
    </p>
    <p>
      <%= f.submit "Найти!" , :class => "submit" %>
    </p>
  </div>
  <div id="mo_map" class="column">
    <div id="cool_map_selector">
			<p>
				Тут будет карта
			</p>
    </div>
    <div id="options_map_selection">
			<%= select "mo_districts","district", @districts.collect { |el| [el.name, el.id]},{},{:size =>10,:ondblclick=>"add_d();"}  %>
			<input id="add_button" type=button name=add value="->" onclick="add_d();">
      <input id="remove_button" type=button name=del value="<-" onclick="del_d();">
      <select id="search_condition_mo_districts" name="search_condition[mo_districts][]" size=10 multiple style="width:150px;" ondblclick="del_d();">
      </select>
      <input id="clear_button" type="button" value="  Очистить!  " onclick="freset();">
    </div>
  </div>
</div>
<% end %>
<div class="clear"></div>

