<div id="flat_search">
<h1>Поиск:Комната\Квартира</h1>
<div id="search_condition">
<fieldset>Search Condidtions:
	<% form_for(@search_condition, :url => {:action => "result"}) do |f| %>
  <p>
    <label for="City">Город:</label>
    <%= f.text_field :city, :size => 40 %>
  </p>
    <label for="District">Район:</label>
    <%= f.text_field :district, :size => 40 %>
  </p>
  <p>
    <label for="Street">Улица:</label>
    <%= f.text_field :street, :size => 40 %>
  </p>
  <p>
    <label for="Rooms count">Количество комнат:</label>
    <%= f.text_field :rooms_count, :size => 40 %>
  </p>
  <p>
    <label for="price">Цена</label>
    <label for="Min_Price">от:</label>
    <%= f.text_field :min_price, :size => 10 %>
    <label for="Max_Price">до:</label>
    <%= f.text_field :max_price, :size => 10 %> руб.
  </p>
  <p>
    <label for="total_area">Общая площадь от:</label>
    <%= f.text_field :total_area, :size => 40 %>
  </p>
  <p>
    <label for="Kitchen_Area">Кухня площадь от:</label>
    <%= f.text_field :kitchen_area, :size => 40 %>
  </p>
  <p>
    <label for="Live_Area">Жилая площадь от:</label>
    <%= f.text_field :live_area, :size => 40 %>
  </p>
  <p>
    <label for="Rent_Time">Срок аренды:</label>
    <%= f.text_field :rent_time, :size => 40 %>
  </p>
  <p>
    <label for="nearest_subway_stations">Ближайшие станции метро:</label>
    <%= f.text_field :nearest_subway_stations, :size => 40 %>
  </p>
  <p>
    <label for="Time_To_Nearest_Subway_Station">Время до ближайшей станции метро:</label>
    <%= f.text_field :time_to_nearest_subway_station, :size => 40 %>
  </p>
  <p>
    <label for="has_photo">С фотографиями</label>
    <%= f.text_field :has_photo, :size => 40 %>
  </p>
  <p>
    <%= f.submit "Search" , :class => "submit" %>
  </p>
	<div id="metro">
		<div id="metro_map">
			<img usemap="#map" src="/images/metromap_2009b.gif" >
		</div>
		<div id="stations_list">
			<table>
				<tr>
					<td>
						<select name=metro_s size=10 ondblclick="add_m();">
							<option value="85">Авиамоторная</option><option value="13">Автозаводская</option><option value="97">Академическая</option><option value="53">Александровский сад</option><option value="105">Алексеевская</option><option value="135">Алтуфьево</option><option value="156">Аннино</option><option value="50">Арбатская</option><option value="5">Аэропорт</option><option value="109">Бабушкинская</option><option value="57">Багратионовская</option><option value="71">Баррикадная</option><option value="47">Бауманская</option><option value="69">Беговая</option><option value="7">Белорусская</option><option value="93">Беляево</option><option value="131">Бибирево</option><option value="30">Библиотека Ленина</option><option value="120">Боровицкая</option><option value="107">Ботанический сад</option><option value="145">Братиславская</option><option value="195">Бунинская аллея</option><option value="106">ВДНХ</option><option value="16">Варшавская</option><option value="24">Вернадского проспект</option><option value="112">Владыкино</option><option value="2">Водный стадион</option><option value="3">Войковская</option><option value="77">Волгоградский проспект</option><option value="142">Волжская</option><option value="203">Волоколамская</option><option value="157">Воробьевы горы</option><option value="198">Выставочная</option><option value="81">Выхино</option><option value="6">Динамо</option><option value="115">Дмитровская</option><option value="132">Добрынинская</option><option value="21">Домодедовская</option><option value="164">Донского Дмитрия бульвар</option><option value="140">Дубровка</option><option value="43">Измайловская</option><option value="94">Калужская</option><option value="18">Кантемировская</option><option value="17">Каховская</option><option value="15">Каширская</option><option value="52">Киевская</option><option value="74">Китай-город</option><option value="144">Кожуховская</option><option value="14">Коломенская</option><option value="35">Комсомольская</option><option value="92">Коньково</option><option value="22">Красногвардейская</option><option value="133">Краснопресненская</option><option value="36">Красносельская</option><option value="34">Красные ворота</option><option value="139">Крестьянская застава</option><option value="29">Кропоткинская</option><option value="62">Крылатское</option><option value="73">Кузнецкий мост</option><option value="79">Кузьминки</option><option value="60">Кунцевская</option><option value="48">Курская</option><option value="55">Кутузовская</option><option value="98">Ленинский проспект</option><option value="32">Лубянка</option><option value="143">Люблино</option><option value="87">Марксистская</option><option value="146">Марьино</option><option value="8">Маяковская</option><option value="110">Медведково</option><option value="197">Международная</option><option value="117">Менделеевская</option><option value="196">Митино</option><option value="61">Молодежная</option><option value="202">Мякининская</option><option value="124">Нагатинская</option><option value="125">Нагорная</option><option value="126">Нахимовский проспект</option><option value="82">Новогиреево</option><option value="11">Новокузнецкая</option><option value="134">Новослободская</option><option value="89">Новоясеневская</option><option value="95">Новые черемушки</option><option value="100">Октябрьская</option><option value="67">Октябрьское поле</option><option value="20">Орехово</option><option value="111">Отрадное</option><option value="31">Охотный Ряд</option><option value="12">Павелецкая</option><option value="28">Парк Культуры</option><option value="165">Парк Победы</option><option value="44">Партизанская</option><option value="42">Первомайская</option><option value="83">Перово</option><option value="113">Петровско-Разумовская</option><option value="141">Печатники</option><option value="59">Пионерская</option><option value="63">Планерная</option><option value="86">Площадь Ильича</option><option value="49">Площадь революции</option><option value="68">Полежаевская</option><option value="121">Полянка</option><option value="130">Пражская</option><option value="38">Преображенская площадь</option><option value="76">Пролетарская</option><option value="136">Проспект Мира</option><option value="96">Профсоюзная</option><option value="72">Пушкинская</option><option value="1">Речной вокзал</option><option value="104">Рижская</option><option value="138">Римская</option><option value="80">Рязанский проспект</option><option value="116">Савеловская</option><option value="108">Свиблово</option><option value="127">Севастопольская</option><option value="45">Семеновская</option><option value="122">Серпуховская</option><option value="192">Скобелевская улица</option><option value="201">Славянский бульвар</option><option value="51">Смоленская</option><option value="4">Сокол</option><option value="37">Сокольники</option><option value="26">Спортивная</option><option value="200">Строгино</option><option value="54">Студенческая</option><option value="102">Сухаревская</option><option value="64">Сходненская</option><option value="75">Таганская</option><option value="9">Тверская</option><option value="10">Театральная</option><option value="78">Текстильщики</option><option value="91">Теплый стан</option><option value="114">Тимирязевская</option><option value="88">Третьяковская</option><option value="199">Трубная</option><option value="123">Тульская</option><option value="103">Тургеневская</option><option value="65">Тушинская</option><option value="70">Улица 1905 года</option><option value="194">Улица Горчакова</option><option value="40">Улица Подбельского</option><option value="25">Университет</option><option value="193">Ушакова адмирала бульвар</option><option value="58">Филевский парк</option><option value="56">Фили</option><option value="27">Фрунзенская</option><option value="19">Царицыно</option><option value="118">Цветной бульвар</option><option value="39">Черкизовская</option><option value="128">Чертановская</option><option value="119">Чеховская</option><option value="33">Чистые пруды</option><option value="137">Чкаловская</option><option value="99">Шаболовская</option><option value="84">Шоссе энтузиастов</option><option value="41">Щелковская</option><option value="66">Щукинская</option><option value="46">Электрозаводская</option><option value="23">Юго-Западная</option><option value="129">Южная</option><option value="155">Янгеля Академика</option><option value="90">Ясенево</option></select></td>
					<td>
						<input type=button name=add value="->" onclick="add_m();">
						<br>
						<input type=button name=del value="<-" onclick="del_m();">
					</td>
					<td>
						<select name=metro[] multiple size=10 style="width:150px;" ondblclick="del_m();">
						</select>
						<input type="button" value="  Очистить ст.метро!  " onclick="freset();">
					</td>
				</tr>
			</table>
		</div>
	</div>
	<% end %>
</fieldset>
</div>



