<h1>New Search</h1>
<fieldset>Search Condidtions:
	<% form_for(@search_condition, :url => {:action => "result"}) do |f| %>
  <p>
    <label for="City">City:</label>
    <%= f.text_field :city, :size => 40 %>
  </p>
    <label for="District">District:</label>
    <%= f.text_field :district, :size => 40 %>
  </p>
  <p>
    <label for="Street">Street:</label>
    <%= f.text_field :street, :size => 40 %>
  </p>
  <p>
    <label for="Rooms count">Rooms count:</label>
    <%= f.text_field :rooms_count, :size => 40 %>
  </p>
  </p>
    <label for="Min_Price">Min_Price:</label>
    <%= f.text_field :min_price, :size => 40 %>
  </p>
  </p>
    <label for="City">City:</label>
    <%= f.text_field :city, :size => 40 %>
  </p>
  </p>
    <label for="Max_Price">Max_Price:</label>
    <%= f.text_field :max_price, :size => 40 %>
  </p>
  </p>
    <label for="total_area">total_area:</label>
    <%= f.text_field :total_area, :size => 40 %>
  </p>
  </p>
    <label for="Kitchen_Area">Kitchen_Area:</label>
    <%= f.text_field :kitchen_area, :size => 40 %>
  </p>
  </p>
    <label for="Live_Area">Live_Area:</label>
    <%= f.text_field :live_area, :size => 40 %>
  </p>
  </p>
    <label for="Rent_Time">Rent_Time:</label>
    <%= f.text_field :rent_time, :size => 40 %>
  </p>
  </p>
    <label for="nearest_subway_stations">Nearest_Subway_Stations:</label>
    <%= f.text_field :nearest_subway_stations, :size => 40 %>
  </p>
  </p>
    <label for="Time_To_Nearest_Subway_Station">Time_To_Nearest_Subway_Station:</label>
    <%= f.text_field :time_to_nearest_subway_station, :size => 40 %>
  </p>
  </p>
    <label for="has_photo">has_photo:</label>
    <%= f.text_field :has_photo, :size => 40 %>
  </p>


  <p>
    <%= f.submit "Search" , :class => "submit" %>
  </p>
	<% end %>
</fieldset>

