<h1>Listing administrative_areas</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @administrative_areas.each do |administrative_area| %>
  <tr>
    <td><%=h administrative_area.name %></td>
    <td><%= link_to 'Show', administrative_area %></td>
    <td><%= link_to 'Edit', edit_administrative_area_path(administrative_area) %></td>
    <td><%= link_to 'Destroy', administrative_area, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New administrative_area', new_administrative_area_path %>