<h1>Новое объявление об аренде нежилого помещения в Москве или МО</h1>
<% form_for(@rent_entry,@ess,@subway_stations,:url => {:action => "create_rent_flat"}) do |f| %>
  <%= f.error_messages %>
  <p>
		<%= f.label "Ближайшая станция метро" %><br />
		<%= select("subway_station", "id", SubwayStation.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Не выбрано'}) %>
		<%= text_field "subway_station", "time_to", :size => 4 %> мин.
  </p>
  <p>
    <%= f.label "Город" %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label "Район МО" %><br />
		<%= select("mo_district", "id", MoDistrict.all.collect {|d| [ d.name, d.id ] }, {:include_blank => 'Не выбрано'}) %>
  </p>
  <p>
    <%= f.label "Улица" %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label "Номер дома" %><br />
    <%= f.text_field :house_number %>
  </p>
  </p>
  <%= f.label "тип помещения"%>
  <%= f.select :realty_type, RealtyType.get_office_types%>
  <p>
  <p>
    <%= f.label "Площадь суммарная" %><br />
    <%= f.text_field :area_total %>
  </p>
  <p>
    <%= f.label "Количество комнат" %><br />
    <%= f.text_field :rooms_count %>
  </p>
    <p>
			<%= f.label "Мебель" %><br />
      <%= f.check_box :furniture %>
    </p>
  <p>
    <%= f.label "Цена" %><br />
    <%= f.text_field :rent_price %> руб/мес
  </p>
  <p>
    <%= f.label "Срок аренды" %><br />
		<%=	f.select( :rent_time_type, RentTimeTypes.get_rent_time_types ) %>
  </p>
	<p>
    <%= f.label "Коммиссия для Агентов" %><br />
    <%= f.text_field :commission_agent, :size => 3 %>%
  </p>
  <p>
    <%= f.label "Контакты" %><br />
    <%= f.text_area :contacts, :size => 10 %>
  </p>
  <p>
    <%= f.label "Комментарий" %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', entries_path %>
