<div id="new_rent_room_flat" >
	<h1>Новое объявление об аренде комнаты\квартиры в Москве</h1>
	<%= error_messages_for :renty_entry %>
	<% form_for(@rent_entry,@address_text, :url => {:action => "create_rent_room_flat_moscow"}) do |f| %>
  <%= f.error_messages %>

<% if @address_variants != nil && @address_variants.length > 0 %>
  <p>
  Выбирите один из вариантов:
  </p>
  <div id="address_variants">
  <%= select "address_variant", "variant", @address_variants.collect {|av| [av.get_address_string, av.get_address_string] } %>
  </div>
<% else %>
<div id="address">
  <p>
    <%= f.label "Населенный пункт" %><br />
    <%= text_field "address_text", "locality" %>
  </p>
  <p>
    <%= f.label "Улица" %><br />
    <%= text_field "address_text", "street" %>
  </p>
  <p>
    <%= f.label "Дом" %><br />
    <%= text_field "address_text", "premise" %>
  </p>
</div>
<% end %>
  <p>
		<%= f.label "Ближайшая станция метро" %><br />
		<%= select("subway_station", "id", SubwayStation.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Не выбрано'}) %>
		<%= text_field_tag "subway_station_time_to","", {:size => 4} %> мин.
  </p>
  <p>
    <%= f.label "Количество комнат" %><br />
    <%= f.text_field :rooms_count %>
  </p>
  <p>
    <%= f.label "Площадь суммарная" %><br />
    <%= f.text_field :total_area %>
  </p>
  <p>
    <%= f.label "Площадь кухни" %><br />
    <%= f.text_field :kitchen_area %>
  </p>
  <p>
    <%= f.label "Цена" %><br />
    <%= f.text_field :price %> руб/мес
  </p>
  <p>
    <%= f.label "Срок аренды" %><br />
		<%=	f.select( :rent_time_type, RentTimeType.get_rent_time_types ) %>
  </p>
  <p>
		<%= f.label "Этаж:" %><br />
    <%= f.text_field :floor_number %>
  </p>
    <p>
			<%= f.label "Телефон:" %><br />
      <%= f.check_box :phone %>
    </p>
    <p>
			<%= f.label "Телевизор:" %><br />
      <%= f.check_box :tv -%>
    </p>
    <p>
			<%= f.label "Холодильник:" %><br />
      <%= f.check_box :refridgerator -%>
    </p>
    <p>
			<%= f.label "Стиральная машина:" %><br />
      <%= f.check_box :washing_machine -%>
    </p>
  <p>
    <%= f.label :contacts %><br />
    <%= f.text_area :contacts %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
