<h1>New street</h1>

<% form_for(@street) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :locality_id %><br />
    <%= f.text_field :locality_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', streets_path %>