<h1>Editing address</h1>

<% form_for(@address) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :administrative_area_id %><br />
    <%= f.text_field :administrative_area_id %>
  </p>
  <p>
    <%= f.label :sub_administrative_area_id %><br />
    <%= f.text_field :sub_administrative_area_id %>
  </p>
  <p>
    <%= f.label :locality_id %><br />
    <%= f.text_field :locality_id %>
  </p>
  <p>
    <%= f.label :street_id %><br />
    <%= f.text_field :street_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @address %> |
<%= link_to 'Back', addresses_path %>