<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Administrative area</th>
    <th>Sub administrative area</th>
    <th>Locality</th>
    <th>Street</th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%=h address.administrative_area_id %></td>
    <td><%=h address.sub_administrative_area_id %></td>
    <td><%=h address.locality_id %></td>
    <td><%=h address.street_id %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New address', new_address_path %>