<p>
  <b>Administrative area:</b>
  <%=h @address.administrative_area_id %>
</p>

<p>
  <b>Sub administrative area:</b>
  <%=h @address.sub_administrative_area_id %>
</p>

<p>
  <b>Locality:</b>
  <%=h @address.locality_id %>
</p>

<p>
  <b>Street:</b>
  <%=h @address.street_id %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>