<h1>New address_subway_station</h1>

<% form_for(@address_subway_station) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :address_id %><br />
    <%= f.text_field :address_id %>
  </p>
  <p>
    <%= f.label :subway_station_id %><br />
    <%= f.text_field :subway_station_id %>
  </p>
  <p>
    <%= f.label :time_to %><br />
    <%= f.text_field :time_to %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', address_subway_stations_path %>