<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
					"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
    <title>ROOMSTORE</title>
    <%= stylesheet_link_tag "old_site" , :media => "all" %>
    <%= javascript_include_tag :defaults %>



  </head>
  <body>
    <div id="top_user_panel">
      <div id="welcome">
				Вы вошли как:  <%= User.find_by_id(session[:user_id]).login  %>.
      </div>
      <div id="controls">
				<ul>
					<li><%= link_to 'Поиск', :controller => "oldsite", :action => "home_page" %></li>
					<li><%= link_to 'Добавить объявление', :controller => 'oldsite', :action => "new_entry_start" %></li>
					<li><%= link_to 'Личный кабинет', :controller => 'personal_area', :action => "index" %></li>
					<% if GroupAdministrator.find_by_id(session[:user_id]) -%>
					<li><%= link_to 'Управление пользователями', :controller => 'group_administrating', :action => "index" %></li>
					<% end -%>
					<li><%= link_to 'Выход', :controller => 'users', :action => "logout" %></li>
				</ul>
      </div>
    </div>
    <div id="main">
      <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>
